# Expo
.expo
.expo-shared
dist
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Node
node_modules
.npm
npm-debug.log
yarn-error.log

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Build
build
.next
out

# Misc
.cache
.turbo
